.conteiner {
    width: 1200px;
    position: relative;
    padding: 20px;
}

.text {
    position: absolute;
    left: 50%;
    top: -15px;
}

.list {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    background-color: gray;
    overflow: hidden;
    text-align: center;
}

.list:hover .list-item {
    transform: translate(0);
}

.list-item {
    transform: translatex(-100%);
}